
/* TAGS */

* {
  font-size: 25px;
  font-family: Raleway-Regular;
  margin: 0px;
  padding: 0px;
  text-decoration: none!important;
  word-break: normal;
  word-wrap: break-word;
  line-height: 1.4;

}

header{
  font-size: 20px;
  height: 170px;
  text-align: center;
  color: white;
  z-index: 1;
}
header .headerTop {
  background-color: transparent;
  color:black;
  float: none;
  height: 40px;
  display: flex;
  margin:0 15%;

}
header .headerTop div {
  height: 40px;
}
header .headerTop .welcome {
  color: white;
  font-size:25px;
  text-align: start;
  display: flex;
  align-items: center;
}
header .headerTop .welcome img {
  margin-right:-10px;
  margin-top:5px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
header .headerBottom {
  color:black;
  float: left;
  height: 130px;
  display: flex;
  box-shadow: 10px 10px 10px rgba(0,0,0,.2);
  -o-box-shadow: 10px 10px 10px rgba(0,0,0,.2);
  -moz-box-shadow: 10px 10px 10px rgba(0,0,0,.2);
  -webkit-box-shadow: 10px 10px 10px rgba(0,0,0,.2);
  min-height: 70px;
  align-items: center;
  background-color: white;

}
header .headerBottom div {
  height: 100px;
  align-items: center;
  display: flex;

}

footer * {
  font-size: 20px;
  font-family: Raleway-Regular;
  color: white;
  background-color: transparent;
}
footer {
  height: auto;
  padding: 15px;
  padding-bottom: 100px;
  background: rgba(255,255,255,.2);

}
footer .container {
  padding:100px 15%;
  height: auto;
  background: transparent;
  display: flex;
  background: rgba(22,25,35,.8);
  box-shadow: 0px 0px 10px 10px rgba(0,0,0,.5);
  -o-box-shadow: 0px 0px 10px 10px rgba(0,0,0,.5);
  -moz-box-shadow: 0px 0px 10px 10px rgba(0,0,0,.5);
  -webkit-box-shadow: 0px 0px 10px 10px rgba(0,0,0,.5);

}
footer .more {
  border-right: 1px solid white;
}
footer p {
  width: 300px;
  text-align: start;
  padding-bottom:5px;
  font-size: 45px
}
footer p font {
  border-bottom: 1px solid white;
  font-size: 45px;
}
footer ul {
  align-items: center;
}
footer ul li {
  text-indent: 20px;
  list-style: none;
  display: flex;
  justify-content: center;
}
footer ul li a,footer ul li p {
  width: 250px;
  text-decoration: none;
  text-align: start;
  display: block;
  transition: .5s;
  color:white;
  font-size: 20px;

}
footer ul li a font {
  color:white;
  font-size: 20px;
  border-bottom: 1px solid white;
  transition: .6s;
}
footer ul li a:hover  {
  text-decoration: none;
  color:black;
  background-color: white;
}
footer ul li a:hover font {
  color:black;
}
footer ul li:first-child p{
  margin-right: 25px;
}
footer ul li p i {
  margin: 0;
  margin-right: 5px;
}




/* CLASSES */

.container {
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  display:flex;

}
.nested-container {
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  display:flex;
  background: rgba(255,255,255,.2)

}

.forward {
  z-index: 999;
  height: 100%;
  position: absolute;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
}
.forward p,font {
  font-size: 100px;
  color: white;
}
.forward p a {
  background-color: transparent;
  border: 1px solid white;
  padding: 15px 30px;
  color :white;
  transition: .5s;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  font-weight:bold;

}
.forward p a:hover {
  border-color: red;
  color :white;
}

.fixed {
  height: auto;
  bottom: 5%;
  background-color: white;
  position: fixed;
  z-index: 999;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  padding: 20px;
}
.fixed a {
  color: black;
  font-size: 25px;
}
.fixed .email,.phone,.social {
  color: black;
  font-size: 25px;

}
.fixed .social .social-icons {
  display: inline-flex;
  list-style: none;
  font-size: 15px;
}
.fixed .social .social-icons li {
    vertical-align: top;
    float: right;
    list-style: none;
}
.fixed .social .social-icons a {
    color: #fff;
    text-decoration: none;
    height: 30px;

}
.fixed .social .social-icons a i {
    font-size: 18px;

}
.fixed .social .social-icons .social-icon {
    color: black;
    text-align: center;
}
.blog-content {
  justify-content: center;
  display: flex;
}
.blog-content article {
  justify-content: center;
  display: flex;
}
.blog {
  height: auto;
  background-color: white;
  border-radius: 15px;
  padding: 0px !important;
  box-shadow: 0px 0px 10px 10px rgba(0,0,0,.2);
  -o-box-shadow: 0px 0px 10px 10px rgba(0,0,0,.2);
  -moz-box-shadow: 0px 0px 10px 10px rgba(0,0,0,.2);
  -webkit-box-shadow: 0px 0px 10px 10px rgba(0,0,0,.2);
  justify-content: center;
}
.blog .date {
  padding: 15px;
  padding-bottom: 0;
  color:#161923;
  font-size:16px;
}
.blog .date i {
  padding-right: 10px;
  color:#7b0dff;
  font-size:18px;
}
.blog .img {
  height: 250px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: cover;
  background-position: center;
  padding: 0px;
}
.blog .issue {
  justify-content: center;
  display: flex;
  margin-top:-22px;

}
.blog .issue a {
  font-size:20px;
  padding: 5px 15px;
  border-radius: 10px;
  background-color: #2098D1;
  color:White;
  z-index: 1;
  width: fit-content;
  margin: 0;
  box-shadow: 0px 0px 10px 10px rgba(0,0,0,.1);
  -o-box-shadow: 0px 0px 10px 10px rgba(0,0,0,.1);
  -moz-box-shadow: 0px 0px 10px 10px rgba(0,0,0,.1);
  -webkit-box-shadow: 0px 0px 10px 10px rgba(0,0,0,.1);

}
.blog .issue a:hover {
  background-color: #64aacc;
}
.blog .description {
  padding: 0;
  border-top:1px solid gainsboro;
}
.blog .title {
  font-size:21px;
  float: left;
  white-space: nowrap;
  padding: 10px 25px;
  color:#161923;
  transition: .5s;
  border-left: 5px solid #7b0dff;
}
.blog .description,.title {
  padding-top: 10px;
  height: auto;
  word-spacing: normal;
  word-wrap: break-word;
  word-break: break-all;
  overflow: hidden;
  text-overflow: ellipsis;
}

.blog .description p {
  font-size: 18px;
  line-height: 1.3;
   -webkit-box-orient: vertical;
   display: -webkit-box;
}
.blog .info {
  padding: 15px;
  border-top:1px solid #2098D1;
  justify-content: center;
  display: flex;

}
.blog .info .author {
  font-size: 15px;
  color:#161923;
  padding:0 15px;
  border-right: 1px solid gainsboro;
  margin: 0;

}
.blog .info .data {
  font-size:15px;
  padding:0 15px;
  margin: 0;

}
.blog .info  i {
  font-size:16px;
  color:#7b0dff;
}
.go {
  transition: .5s;
  padding:10px;
  padding-top:15px;
  border-radius:10px;
  width: 100%;

}
.go span,.go i{
  font-size:20px;
  color:#f76a88;
}
.go:hover {
  background: #f76a88;
  border-radius:10px;
}
.go:hover span,.go:hover i{
  color:White!important;
}




.fa-social {
  padding: 20px!important;
  font-size: 30px!important;
  text-decoration: none;
  margin: 5px 2px;
  min-width:60px;
  transition:.5s;
  width:auto;
  text-indent:0;
  text-align:center;
  justify-content: center;
  align-items: center;
  display: flex!important;
}
.fa-facebook {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: transparent;
}
.fa-facebook:hover {
    background-color: #3d5b99;
    color: #fff;
}
.fa-twitter {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: transparent;
}
.fa-twitter:hover {
    background-color: #00aced;
    color: #fff;
}
.fa-youtube {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: transparent;
}
.fa-youtube:hover {
    background-color: #e64a41;
    color: #fff;
}
.fa-google {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: transparent;
}
.fa-google:hover {
    background: #dd4b39;
    color: white;
}
.fa-linkedin:hover {
    background: #007bb5;
    color: white;
}
.fa-instagram:hover {
    background: #874b0f;
    color: white;
}

.toggle {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 62px;
  height: 32px;
  display: inline-block;
  position: fixed;
  right: 0;
  margin-right: 5%;
  float:right;
  border-radius: 50px;
  overflow: hidden;
  outline: none;
  border: none;
  cursor: pointer;
  background:linear-gradient(135deg, rgba(164,67,230,1) 20%, rgba(252,69,94,1) 50%, rgba(215,184,19,1) 80%);
  transition: background-color ease 0.3s;
  font-family:Raleway-Regular;
  color:#fff;
}

.toggle:before {
  content: "off on";
  display: block;
  position: absolute;
  z-index: 2;
  width: 28px;
  height: 28px;
  background: #fff;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  font: 10px/28px Helvetica;
  text-transform: uppercase;
  font-weight: bold;
  text-indent: -22px;
  word-spacing: 37px;
  text-shadow: -1px -1px rgba(0,0,0,0.15);
  white-space: nowrap;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  transition: all cubic-bezier(0.3, 1.5, 0.7, 1) 0.3s;
}

.toggle:checked {
  background: gainsboro!important;
  color:black;
}

.toggle:checked:before {
  left: 32px;
}

/* IDENTIFIERS */


/* fonts */
